  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <title>p-mail</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery-2.0.3.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

  <body style="background-color:Gray;">

    <div id="messagecontentcont" class="messagecontentcont hide">     
        <div class="panel panel-info messagebox">
          <div id="message_header" class="panel-heading">
            <p class="pull-left">sample header</p>
            <p id="messageclose" class="messagecomposerbtn" style="color:#000;" >x</p>
          </div>
          <div id="messagecontent" class="messagecontent">
            <div>
              <label id="message_to">To:samplerecipient@practo.com</label>
            </div>
            <div>
              <label id="message_from">from:me</label>
            </div>
           <!--  <div>
              <label id="message_sub">Subject:Sample Subject</label>
            </div> -->
            <p id="message_cont">Sample Content</p>
          </div>
        </div>
    </div>

      <div class="messagecomposercont hide">

        <div class="messagecomposerheader">
          <p class="messagecomposertitle">New Message</p>
          <p id="msgcls" class="messagecomposerbtn">x</p>
          <p id="msgmin" class="messagecomposerbtn">_</p>        
        </div>
      
        <div class="messagecomposerbox">
          <textarea class="form-control" placeholder="recipients" id="recipients_box"></textarea>         
          <input class="form-control" placeholder="subject" id="email_subject">            
                
          <textarea class="form-control" id="email_text_box"></textarea>
                    
        </div>
          <div class="messagecomposerfooter">
            <input class="btn btn-primary" type="submit" id="send_message" value="send">
          </div>
      </div>


<div class="container" style="height:100%;min-height:650px;background-color:#fff;">
      
      <div class="jumbotron" style="height:200px;" >
        <h1>Pmail</h1>
        <p>An e-mail app for doctors.</p>      
      </div>

      <div class="row" style="height:40px;">
        
        <div class="col-md-3">
          <div class="btn-group">
            <button id="composemail" type="button" class="btn btn-danger">compose</button>            
            <!-- <input id="selectall" type="button" class="btn btn-primary" value="Select All"> -->
          </div>
        </div>
      
        <div class="col-md-9" >

        </div>

      </div>
  
  <div class="row">      
    {% if patients %} 
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading" style="display:inline-block; width:100%;" >
            <input type="checkbox" id="selectall">
            <p style="display:inline;">Patients</p>
          </div>
          <div class="list-group scrollablediv">
            {% for patient in patients %}        
              <a href="#" class="list-group-item" style="padding-left:2px;padding-right:2px;" >
                <div class="patients-list" style="display:inline-block;width:100%; height:80px;">
                  <span style="float:left;width:25%;height:100%;" class="input-group-addon">
                    <input style="margin-top:25px;" class="select" type="checkbox">
                  </span>
                  <div style="float:right;width:75%;height:100%;" class="patient-info list-group-item active">            
                    <h4>{{patient.Name}}</h4>
                    <p class="email_add">{{patient.Email_Address}}</p>               
                  </div>
                </div>
              </a>      
            {% endfor %}
          </div>        
        </div>
      </div>
    {% endif %}

      
    {% if all_mails %}                
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">All Messages</div>
          <div class="list-group scrollablediv">
          {% for mail in all_mails %}
        
            
            <div class="mail list-group-item" style="width:100%;display:inline-block;white-space:nowrap">
              <label class="mail_to" from={{mail.From}} style="width:25%;wrap:no-wrap;">{{mail.To}}</label>              
              <label class="mail_content" style="width:55%;wrap:no-wrap;">{{mail.Message_Content}}</label>             
            </div>
            
        
          {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
      
      
</div>
</body>
</html>